<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="Deny" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Content-Security-Policy" value="default-src 'self'" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>